
.App {
  text-align: center;
}

.App-header, .start {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
a:hover{
  color: rgb(64, 1, 64);
  font-size: large;
}

.App-link {
  color: #61dafb;
}
.nextPage{
  
}
.continue{
  color: black;
  background-color: pink;
}